{% extends 'base.html' %}

{% block title %}
Организовать игру в нарды
{% endblock %}

{% block body %}
    <div class="container">
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal">Выбрать вариант</h1>
        </div>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-left">
            <a href="/nardy_create" class="w-100 btn btn-lg btn-outline-primary">Создать игру</a>
            <a href="/nardy_came" class="w-100 btn btn-lg btn-outline-primary">Создать игру</a>
        </div>
    </div>
{% endblock %}