{% extends 'base.html' %}

{% block title %}
Страница про нас
{% endblock %}

{% block body %}
    <div class="container">
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal">Анонс №1</h1>
            <p class="fs-5 text-muted">Ожидается Шарапова!</p>
        </div>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-left">
            <p class="fs-5 text-muted">Вдвоем веселее! Добавим в пару Шарапову или кого-нибудь получше!</p>
            <p class="fs-5 text-muted">03.01.2022 в ближайшее время планируется разработка сервера для парной онлайн игры.</p>
        </div>
    </div>
{% endblock %}