{% extends 'base.html' %}

{% block title %}
Страница про нас
{% endblock %}

{% block body %}
    <div class="container">
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal">Анонс №2</h1>
            <p class="fs-5 text-muted">Шарапова будет уволена!</p>
        </div>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-left">
            <p class="fs-5 text-muted">Суперсекретная разработка. Прямо из подвала ЦНИИ "Точмашстаколитракетпрома". Инсайдеры говорят, что вообще без Шараповой! И без мячика!</p>
            <p class="fs-5 text-muted">03.01.2022 в ближайшее время что-то планируется.</p>
        </div>
    </div>
{% endblock %}